*{
	padding: 0;
	margin: 0;
}
body{ 
	font-family: "微软雅黑"; 
	font-size: 14px;
	color: #333333;
	background: #f8f8f8;
	}
a { text-decoration: none;}
a img{ border:0;}
img{ border:0;}
ul{ margin:0; padding:0;}
li{list-style-type:none;}
input, button, select, textarea { outline: none;}
textarea {resize: none;}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
#owl-demo{position:relative;width:542px;height:341px;margin:0px auto 0 auto;}
#owl-demo .item{ position:relative;display:block;}
#owl-demo img{display:block;width:542px;height:341px;}
#owl-demo b{position:absolute;left:0;bottom:0;width:100%;height:78px;background-color:#000;opacity:.5;filter:alpha(opacity=50);}
#owl-demo span{position:absolute;left:0;bottom:37px;width:96%;text-align:left; padding: 0 2%; color: #fff; font-size: 18px;
	overflow: hidden;
	-o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space:nowrap;
    -webkit-box-orient: vertical;
}
.owl-pagination{position:absolute;right:0;bottom:10px;width:40%;height:22px;text-align:right;}
.owl-page{display:inline-block;width:8px;height:8px;margin:0 5px;background-image: url(../img/02.png);*display:inline;*zoom:1;}
.owl-pagination .active{width:20px; height:8px; background-image:url(../img/01.png);}
.owl-buttons{display:none;}
.owl-buttons div{position:absolute;top:50%;width:40px;height:80px;margin-top:-40px;text-indent:-9999px;}
.owl-prev{left:0;background-image:url(../img/bg17.png);}
.owl-next{right:0;background-image:url(../img/bg18.png);}
.owl-prev:hover{background-image:url(../img/bg19.png);}
.owl-next:hover{background-image:url(../img/bg20.png);}
.xy-con{
	width: 1200px;
	min-height: 100px;
	height: auto;
	overflow: auto;
	margin: 90px auto 50px;
}
.xy-con .xy-conl{
	width:812px;
	min-height: 100px;
	height: auto;
	overflow: hidden;
	float: left;
	/*margin-top: 20px;*/
}
.xy-con.case-list .xy-conl{
	margin-top: 0;
}
.xy-con .xy-conl .xy-cont-q{
	background-color: #fff;
	padding:8px 20px 26px;
	margin-bottom: 12px;
}
.xy-con .xy-conr{
	width:355px;
	min-height: 100px;
	height: auto;
	overflow: hidden;
	float: right;
}
.xy-conla{
	width: 812px;
	height: 341px;
}
.xy-conli{
	width: 812px;
	height: 341px;
	margin-bottom: 10px;
}
.xy-conli .xy-conlia{
	width: 812px;
	height: 341px;
	float: left;
}
.xy-conla .xy-conlb{
	width: 542px;
	height: 341px;
	float: left;
}
.xy-conla .xy-conlc{
	width:260px;
	height: 341px;
	float: right;
}
.xy-conld{
	height: auto;
	padding: 20px;
	overflow: hidden;
	margin: 0 auto;
	background-color: #fff;
}
.xy-conld .list-tab{
	position: relative;
	overflow: hidden;
}
.xy-conld .list-tab .tab-item{
	position: relative;
	z-index: 1;
	float: left;
	margin-right: 30px;
	font-size: 16px;
	color: #999999;
	padding-bottom: 15px;
	border-bottom: 1px solid #e5e5e5;
}
.xy-conld .list-tab .tab-item.action{
	color: #333333;
	border-bottom: 1px solid #eb6317;
}
.xy-conld .list-tab .tab-line{
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: #e5e5e5;
}
.xy-conld h1{
	font-size: 18px;
	height: 25px;
	line-height: 25px;
	border-left: 2px solid #eb6317;
	padding-left: 20px;
	font-weight: normal;
	margin-bottom: 15px;
}
.xy-list{
	min-height: 100px;
	height: auto;
	overflow: hidden;
	border-top: 1px solid #e5e5e5;
	margin-bottom: 26px;
}
.xy-lista{
	min-height: 100px;
	height: auto;
	overflow: hidden;
	border-bottom: 1px solid #e5e5e5;
	padding: 20px 0;
}
.xy-list img.xy-rw{
	width:229px;
	height: 154px;
	float: left;
}
.xy-list .xy-listr{
	width:510px;
	min-height: 50px;
	height: auto;
	overflow: hidden;
	float: left;
	margin-left: 30px;
}
.xy-list .xy-listr h2 a{
	color: #333;
	font-weight: normal;
	font-size: 18px;
}
.xy-list .xy-listr p{
	height: 50px;
	color: #666;
	line-height: 25px;
	font-size: 14px;
	margin-top: 20px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.xy-list .xy-listr .xy-a{
	width:510px;
	height: 30px;
	line-height: 30px;
	margin-top: 25px;
}
.xy-list .xy-listr .xy-a img{
	float: left;
	margin: 5px 5px 0 0;
}
.xy-list .xy-listr .xy-a p.rw-pa{
	width:100px;
	height: 30px;
	float: left;
	margin-top: 0;
}
.xy-list .xy-listr .xy-a .xy-b{
	width:350px;
	float: left;
	border-left: 1px solid #e5e5e5;
	padding-left: 8px;
	margin-top: 3px;
}
.xy-list .xy-listr .xy-a .xy-b img{
	float: left;
}
.xy-list .xy-listr .xy-a .xy-b .icon_zan{
	height: 15px;
	margin: 4px 5px 0 0;
}
.xy-list .xy-listr .xy-a .xy-b p{
	float: left;
	margin-top: 0;
	height: 20px;
	padding-right: 15px;
}
.xy-list .xy-listr .xy-a .xy-b > div{
	display: inline-block;
	background: no-repeat left center;
	background-size: 20px auto;
	padding-left: 24px;
	vertical-align: middle;
}
.xy-list .xy-listr .xy-a .xy-b .looks{
	background-image: url(../img/eye.png);
}
.xy-list .xy-listr .xy-a .xy-b .support{
	background-image: url(../img/icon_zan.png);
	background-position: 5px 7px;
	background-size: auto 15px;
}
img.xy-img{
	width: 100%;
	height: 173px;
	margin: 30px auto;
}
.xx-more{
	height: 60px;
	line-height: 60px;
	text-align: center;
	background: #f3f3f3;
	margin: 40px auto 0;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
}
.xx-more a{
	display: block;
	font-size: 16px;
	color: #666;
}
.xx-pagenation{
	text-align: center;
}
.xx-pagenation .pagenation-inner{
	display: inline-block;
	border-radius: 5px;
	background-color: #e0e0e0;
	overflow: hidden;
}
.xx-pagenation a{
	float: left;
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #eb6317;
	background-color: #fff;
	border: 1px solid #e0e0e0;
}
.xx-pagenation a:hover,
.xx-pagenation a.action{
	color: #fff;
	background-color: #eb6317;
	border: 1px solid #eb6317;
}
.phb-top{
	width:100%;
	min-height: 100px;
	height: auto;
	overflow: hidden;
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	margin-top: 11px;
	position: relative;
	padding: 20px;
	padding-bottom: 5px;
	background-color: #fff;
	margin-bottom: 15px;
}
.phb-top .top-title{
	border-bottom:1px solid #eb6317;
	overflow: hidden;
	margin-bottom: 26px;
}
.phb-top ul{
	height:62px; 
	background:#fff; 
	margin:0 auto;
	padding-top: 17px;
	float: right;
}
.phb-top ul li{
	float:left;
	font-size:16px;
	width:29px;
	height: 29px;
	line-height: 28px;
	text-align:center;
	cursor:pointer;
	margin: 0 5px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}
.pp-lefta{
	height: 62px;
	float: left;
}
.pp-left{
	height: 23px;
	float: left;
	border-left: 2px solid #EB6317;
	padding-left: 10px;
	font-size: 18px;
	margin-top: 19px;

}
.phb-top .hit{
	cursor:pointer;
	color:#fff;
	background: #eb6317;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}
.pane{
	min-height:100px;
	display:none;
}
.pa-a{
	line-height: 1;
	margin-bottom: 25px;
	overflow: hidden;
	-o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space:nowrap;
    -webkit-box-orient: vertical;
}
.pane span{
	display: inline-block;
	width: 4px;
	height: 4px;
	margin-right: 17px;
	background-color: #eb6317;
	vertical-align: middle;
}
.pane a{
	color: #666;
	font-size: 16px;
	vertical-align: middle;
}
.re-s{
	width:355px;
	height: 380px;
	background: #f8f9f9;
	padding:50px 0 50px;
}
.hotSearch,
.hotSubject{
	padding: 20px;
	padding-top: 30px;
	background-color: #fff;
	margin-bottom: 15px;
	padding: 20px;
	padding-top: 30px;
	background-color: #fff;
	margin-bottom: 15px;
}
.hotTitle{
	padding-bottom: 15px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 20px;
}
.hotTitle h3,
.re-bt h3{
	font-size: 18px;
	color: #000;
	font-weight: normal;
	padding-left: 5px; 
	border-left: 2px solid #EB6317;
}
.hotKeyWords{
	/*overflow: hidden;*/
	/*display: flex;*/
	/*justify-content: space-between;*/
	/*flex-wrap: wrap;*/
}
.hotKeyWords .hotItem{
	width: auto;
	display: block;
	float: left;
	line-height: 30px;
	margin-bottom: 10px;
	margin-right: 10px;
	border: 1px solid #cccccc;
	border-radius: 100px;
	font-size: 14px;
	color: #666666;
	padding: 0 10px;
	box-sizing: border-box;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.hotKeyWords .hotItem:hover{
	color:#ff6400;
	border:1px solid #ff6400;
}
#tagbox{
	position:relative;
	margin:0px auto 0px;
	width:355px;
	height:260px;
	background:#f8f9f9;}
#tagbox a{
	position:absolute;
	padding:3px 6px;
	color:#333;
	TOP:0px;
	font-weight:bold;
	text-decoration:none;
	left:0px;
	}
#tagbox a:hover{border:#eee 1px solid;background:#000;}
.zt-img{
	min-height: 100px;
	height: auto;
	overflow: hidden;
	border: 1px solid #e5e5e5;
	text-align: center;
	margin-top: 15px;
	padding-bottom: 30px;
}
.zt-img img{
	display: block;
	width: 100%;
}
.zt-img h4{
	line-height: 35px;
	font-size: 16px;
	text-align: left;
	padding: 0 10px;
	font-weight: normal;
}
.zt-img h4 a{
	color: #333;	
}
.zt-img p.zt-p{
	text-align: left;
	line-height: 1;
	padding: 0 10px;
	color: #666;
	overflow: hidden;
	-o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space:nowrap;
    -webkit-box-orient: vertical;
    text-align: left;
}
p.zt-pa{
	text-align: left;
	padding: 0 10px;
	color: #666;
	margin-top: 25px;
}
p.zt-pa .useName,
p.zt-pa .hitNum{
	display: inline-block;
	background: url(../img/rw.png) no-repeat left center;
	vertical-align: middle;
	padding-left: 21px;
	margin-right: 20px;
}
p.zt-pa .hitNum{
	background-image: url(../img/eye.png);
}
/*学院文章页样式*/
.xy-mbx{
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #e5e5e5;
}
.xy-mbx img{
	float: left;
	margin: 22px 5px 0 0;
}
.xy-mbx p{
	float: left;
	font-size: 14px;
	color: #999;
}
.xy-mbx p a{
	color: #999;
}
.wz-bt{
	height: 130px;
}
.wz-bt h1{
	font-size: 26px;
	color: #000;
	font-weight: normal;
	line-height: 80px;
}
.wz-p{
	color: #999999;
	line-height: 20px;
}
.wz-p p{
	float: left;
	margin-right:45px;
}
.wz-p p img{
	float: left;
	margin: 2px 5px 0 0;
}
.wz-wz{
	min-height: 200px;
	height: auto;
	overflow: hidden;
	text-align: center;
}
.wz-wz h3{
	color: #333;
	padding: 10px 0;
	font-size: 16px;
	line-height: 25px;
	text-align: left;
}
.wz-wz p{
	color: #333;
	padding: 10px 0;
	font-size: 16px;
	line-height: 30px;
	text-align: left;
}
.wz-wz img{
	max-width: 100%;
	margin: 10px auto;
}
.wz-wz p span{
	font-weight: bold;
}
.wz-biao{
	height: auto;
	overflow: hidden;
	margin-top: 15px;
	margin-bottom: 30px;
}
.wz-biao span{
	font-size: 14px;
	color: #666666;
	margin-top: 10px;
	margin-right: 6px;
}
.wz-biao span,
.wz-biao ul{
	display: inline-block;
	vertical-align: middle;
}
.wz-biao p{
	line-height: 35px;
}
.wz-biao ul li{
	float: left;
	padding: 0 15px;
	border: 1px solid #cccccc;
	line-height: 30px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	margin:10px 5px 0 0;
}
.wz-biao ul li a{
	font-size: 14px;
	color: #999999;
}
.author-msg{
	padding: 20px 10px;
	font-size: 14px;
	color: #999999;
	line-height: 26px;
	border: 1px solid #cccccc;
	margin-bottom: 30px;
}
.author-msg img{
	float: right;
	width: 130px;
	height: 130px;
}
.wz-pian{
	min-height: 50px;
	height: auto;
	overflow: hidden;
	margin: 35px auto;
}
.wz-pian .wz-piana{
	width: 670px;
	float: left;
}
.wz-pian .wz-piana p{
	font-size: 16px;
	line-height: 35px;
	color: #666;
}
.wz-pian .wz-piana p a{
	color: #666;
}
.fh-a{
	float: right;
	padding: 5px 30px;
	border: 1px solid #a0a0a0;
	margin-top:15px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	font-size: 16px;
	color: #666;
}
.wz-tools{
	overflow: hidden;
}
.wz-zan{
	float: left;
	height: 50px;
	overflow: hidden;
}
.wz-zan a{
	width: 43px;
	height: 43px;
	background: url(../img/img_zan.png) no-repeat center center;
	background-size: 100%;
	padding: 0;
	margin-right: 6px;
}
.wz-zan a,
.wz-zan span{
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	color: #666666;
}
.wz-share{
	float: right;
	height: 50px;
	overflow: hidden;
}
.wz-share .bdsharebuttonbox a{
	width: 43px;
	height: 43px;
	background: url(../img/img_wx.png) no-repeat center center;
	background-size: 100%;
	padding: 0;
}
.wz-share .bdsharebuttonbox a.bds_tsina{
	background-image: url(../img/img_wb.png);
}
.wz-share .bdsharebuttonbox a.copyHref{
	background-image: url(../img/img_copy.png);
}
.wz-share p{
	font-size: 16px;
	/*color: #666;*/
	float: left;
	padding-right: 15px;
	line-height: 55px;
}
.xq-wz{
	min-height: 50px;
	height: auto;
	overflow: hidden;
	font-size: 16px;
	background-color: #fff;
	padding: 20px;
}
.xq-wz p{
	font-size: 18px;
	padding-left:10px;
	border-left: 2px solid #eb6317; 
}
.xq-wz ul li{
	width: 181px;
	float: left;
	margin: 20px 16px 0 0;
}
.xq-wz ul li img{
	width: 100%;
	height: 122px;
	display: block;
	margin-bottom: 12px;
}
.xq-wz ul li a{
	font-size: 14px;
	color: #333;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.xq-wz ul li:nth-child(4n){
	width: 180px;
	float: right;
	margin: 20px 0px 0 0;
}
/*新闻发稿*/
.xwfg-banner{
	width:100%;
	height: 500px;
	min-width: 1200px;
	margin: 0 auto ;
	background:url(../img/xwkb_1.jpg) center 0 no-repeat;
}
.xw-pt{
	width: 100%;
	height: 241px;
	min-width: 1200px;
	margin: 0 auto ;
	background: url(../img/xwfg_bg.jpg) center;
}
.xw-pt .xw-pta{
	width: 1200px;
	height: 241px;
	margin: 0 auto;
	text-align: center;
}
.xw-pt .xw-pta h1{
	font-size: 36px;
	color: #333;
	line-height: 60px;
	font-weight: normal;
	padding: 40px 0 20px 0;
}
.xw-pt .xw-pta p{
	font-size: 14px;
	color: #666;
	line-height: 35px;
}
.fg-zy{
	width: 1200px;
	min-height: 100px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
}
.fg-zy h1{
	line-height: 60px;
	font-size: 36px;
	color: #333;
	font-weight: normal;
	padding: 40px 0 20px 0;
}
.fg-zy table{
	width: 1198px;
}
.fg-zy table tr td{
	padding: 10px 0;
	border: 1px solid #dfdfdf;
}
.fg-zy table tr td img{
	margin: 0 auto;
}
.ck-more{
	width: 325px;
	height: 50px;
	line-height: 50px;
	margin: 30px auto;
	background: #fe6402;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	text-align: center;
}
.ck-more a{
	display: block;
	color: #fff;
	font-size: 20px;
}
.fg-dl{
	width: 100%;
	height: 590px;
	min-width: 1200px;
	margin: 0 auto;
	background: url(../img/xwkb_37.jpg) center 0 no-repeat;
}
.fg-dl .fg-dla{
	width:1200px;
	height: 590px;
	margin: 0 auto;
	text-align: center;
}
.fg-dl .fg-dla h1{
	line-height: 60px;
	font-size: 36px;
	color: #fff;
	font-weight: normal;
	padding: 60px 0 35px 0;
}
.fg-dl .fg-dla ul li{
	width:280px;
	height: 360px;
	float: left;
	background: #fff;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin: 10px 10px 0 12px;
	text-align: center;
	cursor: pointer;
}
.fg-dl .fg-dla ul li:hover{
	box-shadow: 0px 0px 20px #000;
	cursor: pointer;
}
.fg-dl .fg-dla ul li:nth-child(4){
	width:280px;
	height: 360px;
	float: right;
	background: #fff;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin: 10px 5px 0 0px;
	text-align: center;
}
.fg-dl .fg-dla ul li img{
	margin: 53px auto 0 auto;
}
.fg-dl .fg-dla ul li p.fg-p{
	line-height: 50px;
	font-size: 20px;
	color: #333;
}
.fg-dl .fg-dla ul li p.fg-pa{
	font-size: 14px;
	color: #333;
	padding: 0 25px;
	line-height: 30px;
}
.xw-yx{
	width:1200px;
	height: 570px;
	margin: 0 auto;
	text-align: center;
}
.xw-yx h1{
	line-height: 60px;
	font-size: 36px;
	color: #333;
	font-weight: normal;
	padding: 60px 0 35px 0;
}
.xw-yxc{
	width: 950px;
	height: 390px;
	position: relative;
	margin: 20px auto 0;
}
.xw-yxc .xw-yxca{
	width: 150px;
	height: 150px;
	background: #e0e0e0;
	transform:rotate(45deg);
	-ms-transform:rotate(45deg); /* IE 9 */
	-moz-transform:rotate(45deg); /* Firefox */
	-webkit-transform:rotate(45deg); /* Safari and Chrome */
	-o-transform:rotate(45deg); /* Opera */
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	cursor: pointer;
}
.xw-yxc .xw-yxca .li-d{
	width: 150px;
	height: 150px;
	background: #fe6402;
	cursor: pointer;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.xw-yxc .xw-yxca .li-da{
	position: absolute;
	top: 0;
	left: 0;
}
.xw-yxc .xw-yxca .li-d p.dd-p{
	margin: 30px -50px 30px -65px;
	color: #fff;
	font-size: 14px;
}
.xw-yxc .xw-yxca .li-d p.dd-pa{
	margin: 40px -50px 30px -40px;
	color: #fff;
	font-size: 14px;
}

.xw-yxc .xw-a{
	position: absolute;
	top: 0;
	left: 0;
}
.xw-yxc .xw-b{
	position: absolute;
	top: 0;
	left: 250px;
}
.xw-yxc .xw-c{
	position: absolute;
	top: 0;
	left: 500px;
}
.xw-yxc .xw-d{
	position: absolute;
	top: 0;
	left: 750px;
}
.xw-yxc .xw-e{
	position: absolute;
	top: 133px;
	left: 125px;
}
.xw-yxc .xw-f{
	position: absolute;
	top: 133px;
	left: 375px;
}
.xw-yxc .xw-g{
	position: absolute;
	top: 133px;
	left: 625px;
}
.xw-yxc .xw-yxca img{
	transform:rotate(-45deg);
	-ms-transform:rotate(-45deg); /* IE 9 */
	-moz-transform:rotate(-45deg); /* Firefox */
	-webkit-transform:rotate(-45deg); /* Safari and Chrome */
	-o-transform:rotate(-45deg); /* Opera */
	display: inline-block;
	margin-top: 30px;
	margin-left: -40px;
}
.xw-yxc .xw-yxca p{
	font-size: 18px;
	color: #333;
	line-height: 35px;
	transform:rotate(-45deg);
	-ms-transform:rotate(-45deg); /* IE 9 */
	-moz-transform:rotate(-45deg); /* Firefox */
	-webkit-transform:rotate(-45deg); /* Safari and Chrome */
	-o-transform:rotate(-45deg); /* Opera */
	margin-left: 30px;
	margin-top: -10px;
}
.xw-yxc .xw-yxca p.yx-p{
	margin-left: 30px;
}
.pt-ys{
	width:100%;
	min-height: 100px;
	height: auto;
	overflow: hidden;
	background: #f3f3f3;
	min-width: 1200px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 90px;
}
.pt-ys .pt-ysa{
	width: 1200px;
	min-height: 100px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	background: #f3f3f3;
	text-align: center;
}
.pt-ys h1{
	line-height: 60px;
	font-size: 36px;
	color: #333;
	font-weight: normal;
	padding: 60px 0 35px 0;
}
.pt-ys .pt-ysa ul li{
	width: 380px;
	height: 180px;
	float: left;
	margin: 30px 30px 0 0;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}
.pt-ys .pt-ysa ul li.ys-a{
	background: #26d5be;
}
.pt-ys .pt-ysa ul li.ys-b{
	background: #f8884d;
}
.pt-ys .pt-ysa ul li.ys-c{
	background: #519cf1;
}
.pt-ys .pt-ysa ul li.ys-d{
	background: #f4b80d;
}
.pt-ys .pt-ysa ul li.ys-e{
	background: #6887f3;
}
.pt-ys .pt-ysa ul li.ys-f{
	background: #ef654d;
}
.pt-ys .pt-ysa ul li:nth-child(3n){
	width: 380px;
	height: 180px;
	float: right;
	margin: 30px 0px 0 0;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}
.pt-ys .pt-ysa ul li img{
	width: 96px;
	height: 96px;
	float: left;
	margin: 40px 25px 0 25px;
}
.pt-ys .pt-ysa ul li .pt-a{
	width:230px;
	float: left;
	text-align: left;
	margin-top: 35px;
}
p.pt-b{
	color: #fff;
	font-size: 20px;
}
p.pt-c{
	padding: 15px 10px 0 0;
	line-height: 25px;
	color: #fff;
}
.pt-dd{
	width: 100%;
	height: 381px;
	background: url(../img/xwkb_36.jpg) center 0 no-repeat;
}
.pt-dd .pt-ddc{
	width:1200px;
	height: 381px;
	margin: 0 auto;
	text-align: center;
}
.pt-dd .pt-ddc h1{
	line-height: 60px;
	font-size: 36px;
	color: #fff;
	font-weight: normal;
	padding: 60px 0 35px 0;
}
.pt-dd .pt-ddc ul li{
	width:240px;
	float: left;
	text-align: center;
	margin-top: 30px;
}
.pt-dd .pt-ddc ul li img{
	margin: 0 auto;
}
.pt-dd .pt-ddc ul li p{
	font-style: 16px;
	color: #fff;
	line-height: 40px;
}
.nr-con{
	width: 1200px;
	min-height: 100px;
	height: auto;
	overflow: hidden;
	padding-bottom: 50px;
	margin-top: 15px;
}
.nr-a{
	width:220px;
	height: 285px;
	float: left;
	background: #e9e9e9;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	margin-right: 25px;
}
.nr-a:nth-child(5){
	width:220px;
	height: 285px;
	float: right;
	background: #e9e9e9;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	margin-right: 0px;
}
.nr-a p.nr-p{
	font-size: 24px;
	color: #fe6402;
	line-height: 90px;
}
.nr-li{
	width:220px;
	height: 130px;
}
p.nrl-p{
	line-height: 30px;
}
.nr-li img{
	float: left;
	margin:6px 5px 0 70px ;
}
.nr-li span{
	float: left;
}
p.pa-b{
	font-size: 15px;
	color: #333333;
	font-weight: bold;
}
.bz-con{
	width:1200px;
	height: 90px;
	margin: 0 auto;
}
.bz-a{
	width: 255px;
	height: 88px;
	line-height: 88px;
	text-align: center;
	border: 1px solid #aaaaaa;
	float: left;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	font-size: 24px;
	cursor: pointer;
}
.bz-a:hover{
	border: 1px solid #fe6402;
	color: #fe6402;
}
.bz-con p{
	text-align: center;
	float: left;
	margin: 35px 20px 0;
	color: #333333;
}
.ax-btn{
	width: 190px;
	height: 55px;
	text-align: center;
	line-height: 55px;
	margin: 40px auto;
	background: #ed5300;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.ax-btn a{
	display: block;
	font-size: 18px;
	color: #fff;
}
/*联系我们*/
.lx-con{
	width:1200px;
	min-height: 100px;
	height: auto ;
	overflow: hidden;
	margin: 0 auto 70px;
}
.lx-mbx{
	width:1200px;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #e5e5e5;
}
.lx-mbx img{
	float: left;
	margin: 23px 10px 0 0;
}
.lx-mbx p{
	font-size: 14px;
	color: #999;
}
.lx-mbx p a{
	color: #999;
}
.lx-bt{
	width:1200px;
	min-height: 100px;
	height: auto;
	overflow: hidden;
	text-align: center;
	margin-bottom: 50px;
}
.lx-bt h1{
	font-size: 36px;
	color: #333;
	font-weight: normal;
	line-height: 90px;
	margin-top: 30px;
}
p.ms-p{
	color: #333333;
	font-size: 14px;
	line-height: 40px;
}
.lx-kf{
	width:770px;
	height: 108px;
	margin: 20px auto 0;
	border: 1px solid #e5e5e5;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.lx-kf .lx-kfa{
	width:360px;
	height: 50px;
	float: left;
	margin: 35px 0 0 40px;
	border-right: 1px solid #e5e5e5; 
}
.lx-kf .lx-kfa img{
	float: left;
	margin-right: 10px;
}
.lx-kf .lx-kfa .lx-a{
	width:270px;
	float: left;
	text-align: left;
}
.lx-kf .lx-kfa .lx-a p.l-p{
	color: #333;
	font-size: 16px;
	line-height: 20px;
}
.lx-kf .lx-kfa .lx-a p.l-pa{
	color: #333;
	font-size: 18px;
	line-height: 20px;
}
.lx-kf .lx-kfa .lx-a p.l-pa span{
	color: #fe6402;
}
.lx-kf .lx-kfb{
	width: 300px;
	margin: 35px 0 0 60px;
	border-right: none;
}
.gs-wz{
	width:1100px;
	height: 330px;
	margin: 20px auto;
	background: #f8f8f8;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.gs-wz .gs-wza{
	width:400px;
	height: 330px;
	float: left;
}
p.gs-bj{
	width: 155px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 24px;
	border:1px solid #fe6402;
	color: #fe6402;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin: 107px 0 0 45px;
}
p.gs-mc{
	font-size: 14px;
	color: #333;
	margin: 20px 0 0 45px;
	line-height: 30px;
}
.gs-wz img{
	float: right;
}
/*广告投放*/
.gug-banner{
	width:100%;
	height:500px ;
	background: url(../img/guang_a.jpg) center 0 no-repeat;
	min-width:1200px;
}
.gg-choice{
	width: 1200px;
	min-height: 100px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	padding: 60px 0;
	text-align: center;
}
.gg-choice h1{
	font-size: 36px;
	line-height: 50px;
	font-weight: normal;
	color: #333;
}
.gg-choice p{
	line-height: 50px;
	color: #333;
	font-size: 14px;
}
.gg-choice ul li{
	width: 228px;
	height: 420px;
	float: left;
	border-radius: 15px;
	border: 1px solid #e5e5e5;
	margin-top: 30px;
	margin-right: 12px;
}
.gg-choice ul li:nth-child(5n){
	width: 228px;
	height: 420px;
	float: right;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border: 1px solid #e5e5e5;
	margin-top: 30px;
	margin-right: 0;
}
.gg-choice ul li .ch-top{
	width: 228px;
	height: 117px;
	line-height: 117px;
	background: #fe6402;
	border-top-left-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-webkit-border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	-moz-border-radius-topright: 15px;
	-webkit-border-top-right-radius: 15px;
}
.gg-choice ul li .ch-topa{
	background: #2fc3da;
}
.gg-choice ul li .ch-topb{
	background: #ef774d;
}
.gg-choice ul li .ch-topc{
	background: #519cf1;
}
.gg-choice ul li .ch-topd{
	background: #f7a73f;
}
.gg-choice ul li .ch-top img{
	float: left;
	margin:40px 15px 0 30px;
}
.gg-choice ul li .ch-top p{
	float: left;
	line-height: 117px;
	color: #fff;
	font-size: 22px;
}
.ch-g{
	width:190px;
	margin: 0 auto;
	text-align: center;
	padding: 15px 0;
	border-bottom: 1px dashed #e5e5e5;
}
.ch-g img{
	margin: 0 auto;
}
.zh-yx{
	width:100%;
	min-height: 100px;
	height: auto;
	overflow: hidden;
	min-width: 1200px;
	margin: 0 auto;
	background: #f3f3f3;
}
.zh-yx .zh-yxa{
	width: 1200px;
	min-height: 100px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
}
h1.ha-a{
	font-size: 36px;
	line-height: 50px;
	font-weight: normal;
	color: #333;
	padding: 60px 0 35px 0;
}
p.ha-aa{
	color: #333;
	font-size: 14px;
}
.zh-yx .zh-yxa .zh-a{
	width: 1200px;
	height: 315px;
	position: relative;
	margin: 70px auto;
	text-align: center;
	position: relative;
}
.zh-yx .zh-yxa .zh-a img{
	margin: 0 auto;
}
.zh-yx .zh-yxa .zh-a .zh-b{
	width:357px;
	height: 50px;
	position: absolute;
	left: 0px;
	top: 55px;
	text-align: right;
	line-height: 30px;
}
.zh-yx .zh-yxa .zh-a p.zh-p{
	font-size: 20px;
	color: #333;
	
}
.zh-yx .zh-yxa .zh-a span.zh-c{
	font-size: 14px;
	color: #666;
}
.zh-yx .zh-yxa .zh-a .zh-d{
	width:357px;
	height: 50px;
	position: absolute;
	right: 0px;
	top: 55px;
	text-align: left;
	line-height: 30px;
}
.zh-yx .zh-yxa .zh-a .zh-e{
	width:357px;
	height: 50px;
	position: absolute;
	left: 0px;
	top: 190px;
	text-align: right;
	line-height: 30px;
}
.zh-yx .zh-yxa .zh-a .zh-f{
	width:357px;
	height: 50px;
	position: absolute;
	right: 0px;
	top: 190px;
	text-align: left;
	line-height: 30px;
}
.js-zc{
	width: 1200px;
	min-height: 100px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 10px;
}
.js-zc .yc-liaa{
	width: 1090px;
	min-height: 100px;
	height: auto;
	overflow: hidden;
	margin: 50px auto;
}
.js-zc .yc-liaa .yc-li{
	width: 320px;
	height: 315px;
	float: left;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	background: #ececec;
	text-align: center;
	margin-right: 65px;
	cursor: pointer;
	position: relative;
}
.js-zc .yc-liaa .yc-li:nth-child(3n){
	width: 320px;
	height: 315px;
	float: right;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	background: #ececec;
	text-align: center;
	margin-right: 0;
	cursor: pointer;
	position: relative;
}
.js-zc .yc-liaa .yc-li img{
	margin: 55px auto 0;
}
.js-zc .yc-liaa .yc-li p{
	text-align: center;
	color:#333;
	font-size: 20px;
	line-height: 45px;
}
.js-zc .yc-liaa .yc-li .li-yc{
	width: 320px;
	height: 315px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	text-align: center;
	margin-right: 65px;
	background: #ff6c0a;
	cursor: pointer;
	position: absolute;
	
}
.js-zc .yc-liaa .yc-li .li-yc p.yc-p{
	color: #fff;
	font-size: 20px;
	margin-top: 100px;
}
.js-zc .yc-liaa .yc-li .li-yc p.yc-pa{
	color: #fff;
	font-size: 14px;
	margin-top: 20px;
	line-height: 20px;
}
ul.fu-ul li{
	width: 300px;
	height: 310px;
	text-align: center;
	float: left;
	text-align: center;
	margin: 55px 0 30px;
}
ul.fu-ul li img{
	margin: 0 auto;
}
ul.fu-ul li h2{
	font-size: 20px;
	color: #333;
	line-height: 60px;
	font-weight: normal;
	margin-top: 15px;
}
ul.fu-ul li p{
	line-height: 25px;
}
/*搜索页面*/
.ss-b{
	overflow: hidden;
}
.ss-b h1{
	float: left;
}
.ss-b p.ss-p{
	padding: 30px 30px 0;
	line-height: 28px;
	float: left;
}
.ss-b p.ss-p span{
	color: #ff6c0a;
}
.ph-fs{
	width: 160px;
	height: 30px;
	float: right;
	margin-top: 40px;
}
.ph-fs .ph-fsa{
	width: 80px;
	float: left;
}
p.pp-p{
	float: left;
	font-size: 14px;
	color: #666;
	margin-right: 10px;
}
.ph-fs .ph-fsa .pp-s{
	width: 6px;
	height: 12px;
	float: left;
	margin-top: 4px;
}
.ss-con{
	width:812px;
	height: 43px;
	line-height: 43px;
	border: 1px solid #e5e5e5;
	border-radius: 30px; 
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	margin-top: 20px;
	margin-bottom: 30px;
}
.ss-con input{
	width:660px;
	height: 41px;
	float: left;
	border: none;
	border-bottom-left-radius: 30px;
	-moz-border-radius-bottomleft: 30px;
	-webkit-border-bottom-left-radius: 30px;
	border-top-left-radius: 30px;
	-moz-border-radius-topleft: 30px;
	-webkit-border-top-left-radius: 30px;
	padding-left: 20px;
	font-size: 16px;
}
.ss-con button{
	width: 132px;
	height: 41px;
	float: right;
	background: #ff6c0a;
	border-bottom-right-radius: 30px;
	-moz-border-radius-bottomright: 30px;
	-webkit-border-bottom-right-radius: 30px;
	border-top-right-radius: 30px;
	-moz-border-radius-topright: 30px;
	-webkit-border-top-right-radius: 30px;
	border: none;
	color: #fff;
	font-size: 18px;
}
.shouc{
	width: 140px;
	height: 40px;
	line-height: 40px;
	float: right;
	border: 1px solid #a7a7a7;
	border-radius: 30px;
	cursor: pointer;
}
.shouc img{
	float: left;
	margin: 11px 10px 0 30px;
}
.shouc p{
	float: left;
}
textarea.te-a{
	width: 810px;
	height: 100px;
	border: 1px solid #e5e5e5;
	margin: 25px auto 0;
	resize: none;
	padding: 10px;
}
.wz-tj{
	width: 810px;
	height: 40px;
	line-height: 30px;
	background: #e5e5e5;
	margin-top: -5px;
	padding-top: 5px;
	font-size: 14px;
	color: #999;
}
.wz-tj img{
	float: left;
	margin: 0 20px 0;
}
.wz-tj a.ws-p{
	color: #eb6317;
}
.ws-a{
	padding: 0px 20px;
	background: #eb6317;
	color: #fff;
	border-radius: 5px; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	float: right;
	margin-right: 20px;
}
.ws-a:hover{
	color: #fff;
}
.xpl-con{
	width: 812px;
	min-height: 200px;
	height: auto;
	overflow: hidden;
}
.xpl-con h2{
	color: #000;
	font-size: 16px;
	line-height: 100px;
}
.xpl-con .xpl-cona{
	width: 812px;
	min-height: 50px;
	height: auto;
	overflow: hidden;
	border-bottom: 1px solid #e5e5e5;
	padding: 15px 0;
}
.div-p{
	width: 812px;
	min-height: 70px;
	height: auto;
	margin: 0 auto 20px;
}
.xpl-con .xpl-cona img.xx-img{
	float: left;
	width: 66px;
	height: 66px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-moz-border-radius: 50%;
}
.xpl-con .xpl-cona .xpl-a{
	width: 720px;
	float: right;
}
.xp-t{
	width:720px ;

	
	font-size: 12px;
}

.xp-t .xp-ta{
	width: 570px;
	height: 30px;
	line-height: 30px;
	float: left;
}
.xp-t .xp-ta p{
	color: #666666;
	
}
.xp-t .xp-ta p span{
	color: #eb6317;
	font-size: 14px;
	padding-right: 20px;
}
.xp-zan{
	width:110px;
	height: 16px;
	float: right;
	margin-top: 8px;
}
.xp-zan img{
	width: 16px;
	height: 16px;
	float: left;
	margin-right: 5px;
}
p.zan-p{
	float: left; 
	border-right: 1px solid #666;
	padding-right: 10px;
	margin-right: 15px;
	height: 16px;
}
p.ppl-p{
	clear: both;
	line-height: 30px;
}
.pl-hf{
	width: 700px;
	min-height: 50px;
	height: auto;
	overflow: hidden;
	background: #f3f3f3;
	margin-left: 85px;
	padding: 10px;
}
.pl-hf img.hf-img{
	width: 66px;
	height: 66px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-moz-border-radius: 50%;
	float: left;
}
.pl-ba{
	width: 600px;
	float: right;
}
.pl-ba .pl-baa{
	width: 600px;
	height: 30px;
	font-size: 12px;
	font-size: 12px;
}
.pl-ba .pl-baa p{
	width: 500px;
	color: #666666;
	float: left;
	line-height: 25px;
}
.pl-ba .pl-baa p span{
	color: #eb6317;
	font-size: 14px;
	padding-right: 20px;
}
.zan img{
	float: left;
	margin:0 5px;
}
/*返回顶部开始*/
#code,#code_hover{width:40px;height:195px;background:/* url(../images/icon.png) */ no-repeat;position:fixed;right:50px;cursor:pointer;_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));}
#code{background-position: -189px 0px;bottom:120px;_margin-bottom:120px;}
#code_hover{background-position: -189px 0px;bottom:120px;_margin-bottom:120px;}
#gotop{background-position:-276px -310px;bottom:67px;_margin-bottom:67px;
    width:40px;height:40px;position:fixed;right:200px;cursor:pointer;_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
}

#code_img{width:270px;height:355px;background: /* url(../images/icon.png) */ 92px 109px no-repeat;position:fixed;right:90px;bottom:67px;cursor:pointer;display:none;_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));_margin-bottom:67px;}
/*返回顶部结束*/
#rotate{height:260px;width:355px;position:relative;margin:10px auto;}
#rotate a{position:absolute;top:0px;left:0px;color:#000;font-weight:bold;padding:3px 0;font-size:14px;}
#rotate a:hover{border:1px solid #000;background:#fff;border-radius:5px;}


/* 营销学院-我要投稿 */
.yxxyContainer{
	padding-top: 90px;
	background-color: #f8f8f8;
}
.yxxyContainer .inner{
	width: 1200px;
	background-color: #fff;
	margin: 0 auto;
}
.yxxyContainer .inner .inner-main{
	padding: 20px;
	padding-top: 60px;
}
.contribute .inner .inner-title{
	font-size: 28px;
	color: #333333;
	text-align: center;
	margin-bottom: 31px;
	/* font-weight: 700; */
}
.contribute .inner .contribute-tab{
	border-bottom: 1px solid #eb6317;
	margin-bottom: 20px;
}
.contribute .inner .contribute-tab .tab-item{
	float: left;
	width: 140px;
	height: 46px;
	line-height: 46px;
	font-size: 14px;
	color: #666666;
	text-align: center;
	background-color: #e5e5e5;
	margin-right: 9px;
	text-decoration: none;
}
.contribute .inner .contribute-tab .tab-item.action{
	color: #fff;
	background-color: #eb6317;
}
.contribute .inner .contribute-main{
	margin-bottom: 54px;
}
.contribute .inner .contribute-main form{
	display: none;
	font-size: 14px;
	color: #333333;
}
.contribute .inner .contribute-main form.action{
	display: block;
}
.contribute .inner .contribute-main form .form-item{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.contribute .inner .contribute-main form .form-item span{
	width: 70px;
}
.contribute .inner .contribute-main form .form-item.item-cont span{
	width: 70px;
	height: 344px;
}
.contribute .inner .contribute-main form .form-item input[type="text"],
.contribute .inner .contribute-main form .form-item textarea{
	width: 1090px;
	min-height: 46px;
	padding: 10px;
	border: 1px solid #e5e5e5;
	resize: none;
	box-sizing: border-box;
	cursor: auto;
}
.contribute .inner .contribute-main form .form-item textarea{
	height: 366px;
}
.contribute .inner .contribute-main form .form-item label{
	margin: 0 15px 0 0;
}
.contribute .inner .contribute-main form .form-item label input{
	vertical-align: middle;
	margin: 0;
	cursor: auto;
}
.contribute .inner .contribute-main form .form-item label i{
	font-style: normal;
	font-weight: 400;
	vertical-align: middle;
}
.contribute .inner .contribute-main form .form-item p{
	font-size: 16px;
	/* font-weight: 700; */
	margin-top: 50px;
	margin-bottom: 20px;
}
.contribute .inner .contribute-main form .form-item .name,
.contribute .inner .contribute-main form .form-item .wx{
	display: flex;
	align-items: center;
	margin-right: 63px;
}
.contribute .inner .contribute-main form .form-item .name input[type="text"],
.contribute .inner .contribute-main form .form-item .wx input[type="text"]{
	width: 266px;
}
.contribute .inner .contribute-main form .submit{
	display: block;
	width: 140px;
	height: 52px;
	border-width: 0;
	font-size: 16px;
	color: #fff;
	background-color: #eb6317;
	border-radius: 140px;
	margin: 60px auto 0;
}
.contribute .inner .contribute-state{
	margin-bottom: 40px;
}
.contribute .inner .contribute-state .state-title{
	font-size: 16px;
	color: #666666;
	line-height: 1;
	margin-bottom: 20px;
}
.contribute .inner .contribute-state .state-cont{
	font-size: 14px;
	color: #666666;
	line-height: 26px;
}
.contribute .inner .contribute-main form.zhuanzai .form-item.s{
	margin-top: 24px;
}
.contribute .inner .contribute-main form.zhuanzai .form-item span{
	width: 81px;
}
.contribute .inner .contribute-main form.zhuanzai .form-item span.text-long{
	width: 1090px;
	/* font-weight: 700; */
}


/* 发布需求 */
.release .inner-title{
	font-size: 24px;
	color: #333333;
	text-align: center;
	/* font-weight: 700; */
	margin-bottom: 16px;
	line-height: 1;
}
.release .inner-subheading{
	font-size: 14px;
	color: #666666;
	text-align: center;
	line-height: 1;
	padding-bottom: 20px;
	border-bottom: 1px dashed #e5e5e5;
	margin-bottom: 34px;
}
.release .contribute-main form .form-item span{
	display: block;
	font-size: 16px;
	color: #333333;
	/* font-weight: 700; */
	margin-bottom: 15px;
}
.release .contribute-main form .form-item.s{
	margin: 16px 0 50px;
}
.release .contribute-main form .form-item.s span{
	display: inline-block;
	font-size: 14px;
	color: #333333;
	margin-right: 10px;
}
.release .contribute-main form .form-item input,
.release .contribute-main form .form-item textarea{
	width: 312px;
	min-height: 46px;
	padding: 10px;
	border: 1px solid #e5e5e5;
	resize: none;
	box-sizing: border-box;
	cursor: auto;
	color: #333;
	font-size: 14px;
	font-weight: 400;
}
.release .contribute-main form .form-item input::placeholder,
.release .contribute-main form .form-item textarea::placeholder{
	color: #999999;
}
.release .contribute-main form .form-item textarea{
	width: 100%;
	height: 164px;
}
.release .contribute-main form .form-item label{
	float: left;
	width: 33%;
	margin-right: 0.5%;
	margin-bottom: 10px;
}
.release .contribute-main form .form-item label.last{
	margin-right: 0%;
}
.release .contribute-main form .form-item label input{
	display: block;
	width: 100%;
}
.release .contribute-main form .form-item label.vcode input{
	float: left;
	width: 165px;
	margin-right: 5px;
}
.release .contribute-main form .form-item label.vcode button{
	float: left;
	width: 111px;
	height: 46px;
	border-width: 0;
	background-color: #eb6317;
	color: #fff;
	font-size: 14px;
	border-radius: 5px;
	margin-right: 5px;
	font-weight: 400;
}
.release .contribute-main form .form-item label.vcode button:disabled{
	background-color: #cccccc;
}
.release .contribute-main form .submit{
	display: block;
	width: 140px;
	height: 52px;
	border-width: 0;
	font-size: 16px;
	color: #fff;
	background-color: #eb6317;
	border-radius: 140px;
	margin: 85px auto;
}


/* 营销学院-课程 */
.course .inner{
	background-color: #f8f8f8;
}
.course .courseTitle{
	position: relative;
	font-size: 16px;
	color: #333333;
	padding-left: 12px;
	margin: 30px 0 20px;
}
.course .courseTitle i{
	position: absolute;
	left: 0;
	top: 50%;
	width: 2px;
	height: 17px;
	background-color: #eb6317;
	margin-top: -8.5px;
}
.course .courseBanner,
.course .courseBanner img{
	display: block;
	width: 100%;
}
.course .courseList{
	padding-bottom: 30px;
}
.course .courseList .listItem{
	float: left;
	width: 380px;
	height: 338px;
	background-color: #fff;
	margin: 0 30px 30px 0;
	transition: all .5s ease;
}
.course .courseList .listItem:nth-child(3n){
	margin-right: 0;
}
.course .courseList .listItem:hover{
	box-shadow: 0px 0px 20px 0px #d9d9d9;
}
.course .courseList .listItem .itemImg,
.course .courseList .listItem .itemImg img{
	position: relative;
	display: block;
	width: 100%;
	height: 225px;
}
.course .courseList .listItem .itemImg .mask{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,.4);
	opacity: 0;
	box-sizing: border-box;
	padding-top: 20px;
	transition: all .5s ease;
}
.course .courseList .listItem .itemImg .mask.current{
	opacity: 1;
}
.course .courseList .listItem .itemImg .mask img{
	display: block;
	width: 160px;
	height: 160px;
	margin: 0 auto 14px;
}
.course .courseList .listItem .itemImg .mask p{
	text-align: center;
	font-size: 14px;
	color: #fff;
	margin: 0;
}
.course .courseList .listItem .itemBottom{
	padding: 20px 10px;
}
.course .courseList .listItem .itemBottom .itemTitle{
	font-size: 14px;
	color: #333333;
	line-height: 1;
	margin-bottom: 14px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.course .courseList .listItem .itemBottom .itemMsg{
	position: relative;
	overflow: hidden;
}
.course .courseList .listItem .itemBottom .itemMsg .msgLeft{
	float: left;
	font-size: 12px;
	color: #999999;
	line-height: 1;
}
.course .courseList .listItem .itemBottom .itemMsg .msgLeft .itemDate{
	margin-bottom: 14px;
}
.course .courseList .listItem .itemBottom .itemMsg .msgRight{
	float: right;
}
.course .courseList .listItem .itemBottom .itemMsg .msgRight button{
	display: block;
	width: 86px;
	height: 31px;
	border-radius: 5px;
	background-color: #fff;
	font-size: 14px;
	color: #999999;
	border: 1px solid #e8e8e8;
	margin-bottom: 5px;
	transition: all .5s ease;
}
.course .courseList .listItem .itemBottom .itemMsg .msgRight button:hover{
	background-color: #eb6317;
	border-color: #eb6317;
	color: #fff;
}
.course .courseList .listItem .itemBottom .itemMsg .msgRight a{
	display: block;
	text-align: center;
	line-height: 1;
	font-size: 12px;
	color: #999999;
}


/* 右侧弹出框 */
.rightPopUp{
    position: fixed;
    width: 38px;
    right: 200px;
    top: 40%;
    text-align: right;
    z-index: 2;
}
.rightPopUp a{
    position: relative;
    float: right;
    width: 38px;
	height: 38px;
	background-color: #c6c6c8;
    white-space: nowrap;
    border-radius: 5px;
	margin-bottom: 1px;
}
.rightPopUp a .icon{
    position: relative;
    display: inline-block;
    width: 38px;
    height: 38px;
    vertical-align: middle;
}
.rightPopUp a .icon img{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
	bottom: 0;
	max-width: 19px;
	max-height: 16px;
    margin: auto;
}
.rightPopUp a .left{
    position: absolute;
    left: -5px;
    top: 50%;
    padding: 5px;
    text-align: center;
    transform: translate(-100%,-50%);
    background-color: #fff;
	display: none;
	box-shadow: 0px 0px 5px 0px #ccc; 
}
.rightPopUp a .left .title{
    font-size: 12px;
    color: #333333;
    margin-bottom: 4px;
}
.rightPopUp a .left img{
    display: block;
    margin: 0 auto;
}
.rightPopUp a:hover{
    background-color: #eb6317;
}
.rightPopUp a:hover .left{
    display: block;
}
@media screen and (max-width:1440px){
    .rightPopUp{
        right: 10px;
	}
	#gotop{
		right: 10px;
	}
}